<div class="fourohfour">
  <h2>I couldn't find that.</h2>
  <img src="/img/404.gif" alt="404">
  <p>This is not a good look.</p>
  <p>Try going back {{#link-to "index"}}home{{/link-to}} and looking again.</p>
  <p>Or write me at <a href="mailto:hello[at]aaronpetcoff[dot]me">hello [at] aaronpetcoff [dot] me</a> and let me know I broke something.</p>
</div>
