$menu: "\e605";
$github: "\e606";
$email:"\e600";
$wand: "\e602";
$hammer: "\e603";
$rocket: "\e601";

@font-face {
  font-family: 'icons';
  src:url('/fonts/icons.eot?m1ds7e');
  src:url('/fonts/icons.eot?#iefixm1ds7e') format('embedded-opentype'),
    url('/fonts/icons.woff?m1ds7e') format('woff'),
    url('/fonts/icons.ttf?m1ds7e') format('truetype'),
    url('/fonts/icons.svg?m1ds7e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icons{
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}