$module: "header";

#{$module} {
  @include outer-container();
  padding-top: 1em;
  padding-bottom: 1em;
}

.#{$module}-profile {
  display: table;
  margin: auto;
  width: 100%;
  max-width: rem(100);
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(black,0.35);
}

.#{$module}-title {
  @include link {
    display: table;
    margin: auto;
    color:$secondary;
    line-height: rem(60);
    text-decoration: none;
  }

  &:hover {
    .#{$module}-title-first {
      @include trs((color, opacity));
      color:$tertiary;
      opacity: 1;
    }
  }
}

[class^="#{$module}-title-"] {
  font-size: 2.5em;
}

.#{$module}-title-first {
  @include trs((color, opacity));
  color:$secondary;
  opacity: 0.5;
}