$module:"home";

.page {
  @include dropcaps;
  @include alpha;
}

.#{$module}-lede {
  margin: 0;
  font-family: $body;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.3em;
  overflow: hidden;

  &:after {
    display: block;
    margin: 1em auto;
    height: 10px;
    width: 25%;
    background-color: rgba($tertiary,0.85);
    content: '';
  }
}

.#{$module}-image {
  display: none;
  margin-bottom: 1em;
  text-align: center;

  img {
    width: 100%;
    display: inline;
    height: auto;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(black,0.25);
  }

  @include media($medium) {
    display: block;
    float: left;
    max-width: rem(250);
    width: 33%;
    margin-right: 1.5em;
    margin-bottom: 1em;
  }
}