.nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav li {
  width: 100%;
  display: block;
}

.js .nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  user-select: none;
  transition-property: background-color, color;
  transition-duration: 0.35s;
  transition-timing-function: ease;
  @extend %icons;
  text-decoration: none;
  font-size: 34px;
  display: block;
  padding:5px 0;
  background-color:#3fa1f6;;

  &:link {
    color:white;
  }

  &:hover {
    transition-property: background-color, color;
    transition-duration: 0.35s;
    transition-timing-function: ease;
    color:#3fa1f6;
    background-color: white;
  }

  &:before {
    content: $menu;
  }
}

@media #{$medium-up} {
  .js .nav {
    position: relative;
  }
  .js .nav.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none !important;
  }
}