@import "normalize",
        "settings",
        "foundation/components/grid",
        "fonts",
        "sprites",
//      "nav",
//      "syntax",
        "resume";

.no-trs * {
  transition: none !important;
}

.ng-cloak {
  display: none !important;
}

.hide {
  display: none;
}

.screen {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  //overflow-y:scroll !important;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color:#333;
  background-image: $bg;
}

a:link {
  color:$blue;

  &:hover,
  &:visited {
      color:darken($blue,10%);
  }
}

a:visited {
    color:darken($blue,10%);
}

// primary layout

.site {
  @include clearfix;
  position: relative;
  width:100%;
  height:100%;
}

aside {
  @include grid-column($columns:7,$collapse:true);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height:100%;
  color:white;
  text-align: center;
  background-repeat: repeat;
  overflow-y:scroll;

  @media #{$medium-up} {
    @include grid-column($columns:4,$offset:1,$collapse:true);
  }

  @media #{$large-up} {
    @include grid-column($columns:3,$offset:1,$collapse:true);
  }
}

main {
  @include animateSlide;
  position: relative;
  z-index: 1;
  padding-top: rem-calc(10);
  background-color: #fafffa;
  box-shadow: 0px 4px 4px black;

  &.push {
    margin-bottom: 0;
  }
}

.home {
  margin-bottom: rem-calc(417);

  @media #{$medium-up} {
    margin-bottom: $footer-height;
  }
}

.push {
  transform:translateX(58%) !important;
  transition-property: translateX;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  overflow: hidden;
  box-shadow: 0 0 10px 3px black;

  @media #{$medium-up} {
    transform:translateX(42%) !important;
  }

  @media #{$large-up} {
    transform:translateX(33%) !important;
  }
}

// header

header {
  padding-top:rem-calc(30);

  img {
    width: 50%;
    max-width: rem-calc(230);
    border-radius: 50%;

    @media #{$medium-up} {
      width: 90%;
    }
  }

  > h1 {
    margin: 0;
    font-weight: 100;
  }

  > h2 {
    margin: 0;
  }

  > h3 a {
    background-color:$blue;
    border-radius: 3px;
    color:white;
    display: inline-block;
    padding:0 10px;
    text-decoration: none;
  }
}

.nav-toggle {
  display: table;
  margin: 0 rem-calc(10) rem-calc(10) rem-calc(10);
  padding:rem-calc(3);
  width:rem-calc(35);
  height:rem-calc(30);
  border:none;
  border-radius: rem-calc(8);
  background-color: #fefefe;
  box-shadow: 0 0 1px 1px #dedede;
  text-align: center;
  text-decoration: none;
  cursor:pointer;

  @media #{$medium-up} {
    float: left;
  }
}

.nav-toggle:before {
  @include icons;
  color:#dedede;
  font-size: rem-calc(24);
  text-align: center;
  content:$menu;
}

.nav-toggle.active {
  background-color: #303030;
  color:white;
}

.nav-toggle.active:hover {
  box-shadow: inset 3px 3px 2px black;
}

.nav-toggle:hover {
  box-shadow: inset 3px 3px 2px darken(#dedede,3%),
              inset -3px -3px 2px #fff,
              0 0 1px 1px #dedede;
}

// mail & github
.social {
  display: table;
  list-style: none;
  @include clearfix;
  margin: 10px auto 0 auto;
  padding: rem-calc(10) 0 0 0;

  li {
    float: left;

    a {
      display: inline-block;
      text-decoration: none;
      font-size: 36px;
      @include icons;
    }

    .mail:before {
      content: $email;
      margin-right: 5px;
    }

    .github:before {
      content: $github;
    }
  }
}

// navigation

nav {
  ol {
    list-style: none;
    margin: 0;
    padding: rem-calc(10) 0 0 0;

    li {
      a:link,
      a:visited {
        display: inline-block;
        padding: rem-calc(5);
        line-height:25px;
        text-decoration: none;
        background-color: transparent;
        color:$blue;
      }
    }
    
    @media #{$medium-up} {
      padding: rem-calc(20) 0;
    }
  }
}

// main content area

.primary h1 {
  margin-top: 0;
  text-align: center;
  font-weight: 100;

  @media #{$medium-up} {
    padding:3rem rem-calc(145);
  }
}

.callouts {
  ol {
    @include grid-row();
    @include clearfix;
    list-style: none;
    padding: 0;

    li {
      text-align: center;

      &:before {
        display: block;
        width: rem-calc(200);
        height: rem-calc(200);
        margin: 0 auto;
        border-radius: 50%;
        background-image: url(/img/callouts.png);
        box-shadow: 0 0 1px rgba(black,0.35),
                    inset 0 0 10px rgba(black,0.35);
        content:""
      }

      @for $i from 1 through 3 {
        $sprites:$expertise,$experience,$passionate !default;
        &:nth-child(#{$i}):before {
          @include sprite-position(nth($sprites,$i));
        }
      }
    }

    @media #{$medium-up} {
      li {
        @include grid-column($columns:4,$collapse:true);
        padding:0 rem-calc(10);
      }
    }
  }
}

.callouts h3 {
  font-size: rem-calc(24);
  text-align: center;
}

.portfolio {
  ol {
    @include grid-row();
    @include clearfix;
    list-style: none;
    padding: 0;
  }

  li a {
    text-decoration: none;
  }

  li a:link,
  li a:visited,
  li a:hover,
  li a:visited {
    color:#333;
  }

  .thumb {
    display: block;
    max-width: rem-calc(400);
    height:rem-calc(250);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url(/img/thumbs.png);
  }

  h3 {
    text-align: center;

    @media #{$medium-up} {
      text-align: left;
    }
  }
}

.personal {
  $sprites:$julia,$cashkillall,$angstcat,$meaghan !default;

  @for $i from 1 through length($sprites) {
    li:nth-child(#{$i}) .thumb {
      @include sprite-position(nth($sprites,$i));
    }
  }

  @media #{$medium-up} {
    li a {
      @include grid-column($columns:6);
    }
  }
}

.hlm {

  .featured {
    $sprites:$sameday, $loya, $adler !default;

    @for $i from 1 through length($sprites) {
      li:nth-child(#{$i}) .thumb {
        @include sprite-position(nth($sprites,$i));
      }
    }

    @media #{$medium-up} {
      li a {
        @include grid-column($columns:4);
      }
    }
  }

  .non-featured {
    $sprites:$affordable, $allpro, $argo, $athome,$hilite, $lucky, $safeway, $stlouis !default;

    @for $i from 1 through length($sprites) {
      li:nth-child(#{$i}) .thumb {
        @include sprite-position(nth($sprites,$i));
      }
    }

    @media #{$medium-up} {
      li a {
        @include grid-column($columns:4);
      }
    }

    @media #{$medium-only} {
      li:nth-child(4) a,
      li:nth-child(7) a {
        clear:left;
      }
    }

    @media #{$large-up} {
      li a {
        @include grid-column($columns:3);
      }

      li:nth-child(5) a {
        clear:left;
      }
    }
  }

  li a:hover .thumb {
    opacity: 1;
    transition: opacity 0.25s ease;
  }

  .thumb {
    opacity: 0.8;
    transition: opacity 0.25s ease;
  }
}

.content {
  @include grid-row();
  padding: 0 rem-calc(20) rem-calc(60) rem-calc(20);
}

.contact {
  @include animateSlide;
  padding-top: 32px;
  position: fixed;
  bottom: 0;
  left: 0;
  height:rem-calc(449);
  width:100%;
  background-image: $bg;

  @media #{$medium-up} {
    height:$footer-height;
  }
}

.success,
.error {
  float: left;
  display: none;
}

.success {
  color:#2ECC40;
}

.error {
  color:#FF7A42;
}

.contact .form {
  @include grid-row();
  padding: 0 rem-calc(16);

}

.contact ol {
  list-style: none;
  padding: 0;
  margin: 0;

  @media #{$medium-up} {
    @include grid-column($columns:8,$float:right,$collapse:true);
  }
}

.contact form {
  input {
    width:100%;
    height:rem-calc(50);
    margin-bottom: rem-calc(5);
  }

  textarea {
    width: 100%;
    min-width:100%;
    max-width:100%;
    height:rem-calc(100);
    font-size: rem-calc(18);
  }

  input,
  textarea {
    border: 1px solid #ccc;
    padding:rem-calc(3);
    font-size: rem-calc(18);
    border-radius: 3px;
    resize: none;

    &:active,
    &:focus {
      border: 1px solid $blue;
    }
  }

  input[type="submit"] {
    transition-property: background-color, color, border;
    transition-duration: 0.35s;
    transition-timing-function: ease;
    border-radius: 3px;
    background-color: $blue;
    border:1px solid transparent;
    color: white;

    &:hover {
      transition-property: background-color, color, border;
      transition-duration: 0.35s;
      transition-timing-function: ease;
      border-radius: 3px;
      background-color: white;
      border:1px solid $blue;
      color: $blue;
    }
  }

  @media #{$medium-up} {
    padding-left:rem-calc(20);
  }
}

.form h2 {
  float: left;
  color: white;
  font-size: 32px;
}

// footer

.contact-info {

  @media #{$medium-up} {
    @include grid-column($columns:6,$collapse:true);
  }
}