$red: #d32;
$blue: #70b9f8;

@import "normalize";
@import "settings";
@import "foundation/components/grid";
@import "fonts";
@import "nav";
@import "syntax";
@import "thumbs/*.png";

%contain {
  max-width: rem-calc(960);
}

.no-trs * {
  transition: none !important;
}

html {
  overflow-y:scroll !important;
}

body {
  font-family: "Alegreya Sans","Helvetica Neue",Helvetica,sans-serif;
  font-size: 16px;
}

a:link {
  color:$blue;
}

a:hover,
a:visited {
  color:darken($blue,10%);
}

// primary layout

.site {
  @include clearfix;
  $row-width: 100%;

  width:100%;
  height:100%;


  > aside {
    text-align: center;

    @media #{$small-only} {
      @include grid-row();
    }

    @media #{$medium-up} {
      @include grid-column($columns:2,$collapse:true);
      overflow-y:scroll;
      height:100%;
      position: fixed;
      left: 0;
      top: 0;
    }

    @media #{$xlarge-up} {
      @include grid-column($columns:2,$offset:1,$collapse:true);
    }
  }

  > main {

    @media #{$small-only} {
      @include grid-row();
    }

    @media #{$medium-up} {
      @include grid-column($columns:10,$offset:2,$collapse:true);
      padding-left: rem-calc(30);
    }

    @media #{$xlarge-up} {
      @include grid-column($columns:10,$offset:3,$collapse:true);
    }
  }
}

// header

.site > aside {
  transition-property: filter,-webkit-filter;
  transition-duration: .35s;
  transition-timing-function: ease;
  filter:saturate(0);

  &:hover {
    transition-property: filter,-webkit-filter;
    transition-duration: .35s;
    transition-timing-function: ease;
    filter:saturate(1);
  }
}

.site > aside > header {
  padding-top:rem-calc(30);

  .me {
    width: 30%;
    border-radius:50%;

    @media #{$medium-up} {
      width: 80%;
    }
  }

  > h1 {
    margin: 0;
    font-weight: 100;
  }

  > h2 {
    margin: 0;
  }

  // mail & github
  > ol {
    display: table;
    list-style: none;
    @include clearfix;
    margin: 10px auto 0 auto;
    padding: 0;

    li {
      float: left;

      a {
        display: inline-block;
        text-decoration: none;
        font-size: 36px;
        @extend %icons;
      }

      &:first-child a:before {
        content: $email;
        margin-right: 5px;
      }

      &:nth-child(2) a:before {
        content: $github;
      }
    }
  }
}

// navigation

.nav-toggle {
  margin-top: 10px;
}

.site aside nav {
  ol {
    list-style: none;
    margin: 0;
    padding: rem-calc(10) 0 0 0;

    li {
      a:link,
      a:visited {
        display: inline-block;
        padding: rem-calc(5);
        text-decoration: none;
        background-color: transparent;
        color:$blue;
      }
    }
    
    @media #{$medium-up} {
      padding: rem-calc(20) 0;

      .active {
        a:link,
        a:visited {
          background-color:$blue;
          border-radius: 3px;
          color:white;
        }
      }
    }
  }
}

// main content area

.skills {
  ol {
    @include grid-row();
    @include clearfix;
    list-style: none;
    padding: 0;

    li {
      text-align: center;

      i {
        @extend %icons;
        display: block;
        font-size: rem-calc(115);
        color:$blue;
        text-shadow: 4px 1px 0 darken($blue,20%);
      }

      $skills:3;

      @for $i from 1 through $skills {
        $icons:$wand,$hammer,$rocket;
        &:nth-child(#{$i}) i:before {
            content: nth($icons,$i);
        }
      }
    }

    @media #{$medium-up} {
      li {
        @include grid-column($columns:4,$collapse:true);
        padding:0 rem-calc(10);
      }
    }
  }
}

.portfolio {
  ol {
    @include grid-row();
    @include clearfix;
    list-style: none;
    padding: 0;

    li {
      $thumbs: 4;

      i {
        display: block;
      }

      @for $i from 1 through $thumbs {
        &:nth-child(#{$i}) i {
          $thumbs: sprite-map("thumbs/*.png");
          $height: rem-calc(thumbs-sprite-height(port1));
          padding-top: $height;
          background-image: sprite-url($thumbs);
          background-position: sprite-position($thumbs, port#{$i}, $offset-x:50%);
          background-repeat: no-repeat;
        }
      }
    }

    @media #{$medium-up} {
      li {
        @include grid-column($columns:6);
      }
    }
  }
}

.content {
  @extend %contain;
  padding: 0 rem-calc(20);

  .contact {
    $row-width:100%;

    @include grid-row();

    .image { 

      @media #{$medium-up} {
        @include grid-column($columns:4,$collapse:true);
      }
    }

    .form { 

      @media #{$medium-up} {
        @include grid-column($columns:8,$collapse:true);
      }

      ol {
        padding: 0;
        margin: 0;
        list-style: none;
      }
    }
  }
}

// footer

main footer {
  @extend %contain;

  .contact {
    @include grid-row();
  
    @media #{$medium-up} {
      @include grid-column($columns:6,$collapse:true);
    }
  }
}

