$module: 'nav';

#{$module} {
  display: table;
  margin: auto;
}

.#{$module}-link {
  background-color: darken($primary, 2%);
  border: 1px solid $border;
  border-radius: 50%;
  display: inline-block;
  height: rem(55);
  margin-left: .5em;
  margin-right: .5em;
  padding: rem(11) 0 0 rem(3);
  width: rem(55);

  @include media($medium) {
    height: rem(65);
    width: rem(65);
  }

  .icon {
    @include trs(fill);
    fill: $secondary;
  }

  &:hover .icon {
    @include trs(fill);
    fill:rgba($tertiary,0.85);
  }

  .icon-profile {
    position: relative;
    right: rem(1);
    bottom: rem(2);
  }
}

nav svg {
  width: 100%;
  max-width: rem(30);

  @include media($medium) {
    max-width: rem(40);
  }
}

.#{$module}-link[href*="talks"] svg {
  margin-left: 0.25rem;
}
