@import "bourbon", "neat"; // dependencies
@import "vars", // partials
        "highlight",
        "header",
        "nav",
        "post",
        "page",
        "footer",
        "home",
        "talks",
        // "profile",
        "loading",
        "misc";

html {
  font-size: 100%;
  background-image: $bgi;
  background-color: lighten(desaturate($secondary,100%),3%);
}

body {
  color:$secondary;
  font-family: $body;
  font-size: rem(21);
  line-height: 1.5em;
}

blockquote {
  box-shadow: -10px 0px 0px 0 rgba(0, 0, 0, 0.15);
  padding: 0 0rem 0 1rem;
  color: rgba($secondary, 0.75);
}

.wrap {
  background-color: $primary;
  min-height:90vh;
}

h1, h2, h3 {
  font-family: $headings;
  font-weight: bold;
  line-height: 1em;
}

::selection {
  background-color: rgba($tertiary,0.55);
}

a {
  @include link {
    @include trs(color);
    color:$link-color;
  }

  &:hover {
    @include trs(color);
    color:$link-hover;
  }
}

main, article {
  @include outer-container($local-max-width:rem(1000));
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;

  @include media($large) {
    padding-left: 0;
    padding-right: 0;
  }
}

article img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding:1em;
}
