---
layout: default
title: Aaron Petcoff | Front End Web Developer
---

<div class="homepage page-wrap">

  <section id="home" class="row page scroll">
    <div class="container">
      <h1><a name="home">Aaron Petcoff </a></h1>
      <p>is a front end web developer living in Detroit.</p>
      <a href="#skills" class="find noicon">Find out more about me.
      <i class="icon-arrow-down"></i></a>
    </div><!--.container-->
  </section><!--#home-->

  {% include nav.html %}

  <section id="skills" class="row page">
    <div class="container">
      <h1><a name="skills">Skills & Experience</a></h1>

      <p>Aaron Petcoff builds and designs websites using a variety of technologies for small and midsized businesses, organizations, artists, and anyone else who needs to expand their presence on the web.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, nemo, qui, nesciunt eum praesentium earum natus facilis explicabo ea culpa cupiditate odio inventore perferendis expedita aspernatur quae consequatur. Doloremque, est?</p>

      <p>Inventore, a, incidunt quidem ullam soluta exercitationem dolorem. Eos deleniti possimus dolore a. Laudantium, perferendis molestias minus voluptate ratione quaerat ipsum. Consectetur, provident porro dolore sapiente tenetur officia beatae mollitia.</p>

  </div><!--.container-->
</section><!--#page.id-->

<section id="contact" class="row page">
  <div class="container">
    <h1><a name="contact">Contact Me</a></h1>

    <div class="wrap">
      <form id="emailForm" method="post">
        <h3>Name:</h3>
        <input id="name" type="text" placeholder="Name" required></input>
        <h3>E-mail:</h3>
        <input id="email" placeholder="E-mail" required></input>
        <h3 class="subject">Subject</h3>
        <input class="subject" id="subject" placeholder="Subject"></input>
         <h3>Message:</h3>
        <textarea id="text" type="text" placeholder="Message" name="message" required></textarea>
        <input class="btn" type="submit" value="Submit"></input>
        <p class="success">Your message has been sent.</p>
        <p class="error">There was an error submitting your message.</p>
      </form>
    </div><!--.wrap-->

  </div><!--.container-->
</section><!--#page.id-->

<section class="row home-footer footer-wrap">{% include footer.html %}</section>

</div><!--.homepage-->