<footer class="container">
  <div class="row">
    <div class="one third footer-section about">
      <h2>About</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt modi dolores possimus aliquam eius. Earum, odit, quasi, recusandae, similique impedit pariatur nostrum consequuntur sint vitae id iste reiciendis velit sed.</p>
    </div><!--.about-->

    <div class="one third footer-section recent">
      <h2>Recent Posts</h2>
        <ul class="footer-article-list">
        {% for post in site.posts limit:5 %}
          <li><a class="article-link" href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        </ul>
    </div><!--.recent-->

    <div class="one third footer-section footer-pages">
      <h2>Pages</h2>
        <ul>
          {% for page in site.pages %}
            {% if page.type == 'homepage' ||  %}  
              <li><a class="article-link" href="{{ site.url }}/{{ page.url }}#{{ page.id }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
              <li><a class="article-link" href="{{ site.url }}/blog.html">Blog</a></li>
        </ul>
    </div><!--.pages-->

  </div><!--.row-->
</footer>