<footer class="container">
  <div class="row">
    <div class="one third footer-section recent">
      <h2>Recent Posts</h2>
        <ul class="footer-article-list">
        {% for post in site.posts limit:5 %}
          <li><a class="article-link" href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        </ul>
    </div><!--.recent-->

    <div class="one third footer-section footer-pages">
      <h2>Pages</h2>
        <ul>
          {% for page in site.pages %}
            {% if page.type == 'homepage' ||  %}  
              <li><a class="article-link" href="{{ site.url }}/{{ page.url }}#{{ page.id }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
              <li><a class="article-link" href="{{ site.url }}/blog.html">Blog</a></li>
        </ul>
    </div><!--.pages-->
    <div class="one third footer-section about">
      <a href="/index.html#about"><h2>About</h2></a>
      <p>I am a front end web developer living in Detroit and this page is intended for my own shameless self promotion.</p>
      <ul>
        <li><a href="https://github.com/aptkf" target="_blank"><i class="icon-github"></i></a></li>
        <li><a href="mailto:a.p.petcoff@gmail.com" target="_blank"><i class="icon-mail"></i></a></li>
      </ul>
    </div><!--.about-->
  </div><!--.row-->
</footer>