// blog header

#header {
  @extend #home;
}

.blogpage #nav { margin-bottom: 1em; }

// blog home (mobile first)

#blog ul li { font-size: 18px; }

#blog {
  background-color:rgba(35,181,75,.8);
  padding:1em;
  border-radius:1em;

  $tsh: 0 1px 1px rgba(black,0.3);

  h2 {
    text-shadow: $tsh;
  }

  p {
    font-family: $body;
    margin:.5em 0;
    text-shadow: $tsh;
  }

  &:selection {
    text-shadow: none;
  }

  ul {
    list-style-type: none;

    li {
      line-height: 1.3em;
      margin-bottom: 1em;

      .article-link {
        font-family:$header;
        color: white;
        text-decoration: none;
      }
    }
  }
}

// individual blog pages