// media queries

@media all and (min-width : 30em) // tablet
and (max-width : 64em) {
  body { transition:font-size .25s ease; font-size: 14px; }
  #blog ul li { font-size: 20px; } // blog on tablet display
  footer .footer-section { h2,p,li { font-size: 1em; }}
}

@media all and (min-width : 64em) { // desktop
  body { transition:font-size .25s ease; font-size: 16px; }
  #blog ul li { font-size: 21px; } // blog on desktop display
  footer .footer-section { 
    opacity:0.3;
    &:hover { transition:opacity .3s ease; opacity:1; }
    h2,p,li { font-size: inherit; }
  }
}