:root {
  --background: #fefefe;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "pt serif", sans-serif;
  font-size: 1.2rem;
}

.home img {
  object-fit: cover;
  max-width: 460px;
  max-height: 460px;
}

main {
  max-width: 960px;
  margin: 0 auto;
}
