---
layout: default
title: Resume | Aaron Petcoff | Web Developer
---

<div class="resume" class="ng-cloak">

  <header class="personal-info">
    <img src="/img/logo.png" alt="" class="logo">
    <h1>//resume.name//</h1>
    <ul>
      <li><a href="mailto://resume.email//" class="email">//resume.email//</a></li>
      <li><a href="/" class="website">//resume.website//</a></li>
    </ul>
  </header>

  <section>
    <div class="label"><h2>Skills</h2></div>
    <div class="details">
      <ol class="skillset">
        <li ng-repeat="skill in resume.skills">
          <h3>//skill.name//</h3>
          <span class="bar"><b class="not-visible" style="width://skill.proficency//%;"></b></span>
        </li>
      </ol>
      <div class="additional">Additional experience with: <span ng-repeat="additionalSkill in resume.additionalSkills | orderBy:'toString()'">//additionalSkill////$last ? '' : ', '//</span></div>
    </div><!--.content-->  
  </section><!--.skills-->

  <section class="experience">
    <div class="label"><h2>Experience</h2></div>
    <div class="details">
      <ol>
        <li ng-repeat="job in resume.jobs">
          <h3>//job.title//</h3>, //job.employer// &#45; //job.location//
          <span class="date">//job.startDate// &#8211; //job.endDate//</span>
          <ul>
            <li ng-repeat="responsibility in job.responsibilities">//responsibility//</li>
          </ul>
        </li>
      </ol>

    </div><!--.content-->
  </section>

  <section class="education">
    <div class="label"><h2>Education</h2></div>
    <div class="details">
      <ol>
        <li ng-repeat="school in resume.education">
          <h3>//school.degree//, //school.major//</h3>, //school.graduationDate//
          <span class="institution">//school.name//, //school.location//</span>
        </li>
      </ol>

      <h3 class="awards-heading">Awards &amp; Scholarships</h3>
      <ol class="awards">
        <li ng-repeat="award in resume.awards">//award.name//, //award.year//</li>
      </ol>
    </div><!--.content-->
  </section>

</div>