---
layout: default
title: Blog
---

<div class="blogpage page-wrap">

  {% include header.html %}
  {% include nav.html %}

  <section id="blog" class="container">
    <ul class="article-roll">
      {% for post in site.posts %}
        <li>
          <h2><a class="article-link" href="{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{ post.excerpt }}</p>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="row blog-footer footer-wrap">{% include footer.html %}</section>

</div><!--.blogpage-->