<article class="post-single">
  <h1 class="post-title">{{meta.title}}</h1>
  <span class="post-date">{{meta.date}}</span>

{{{html}}}

</article>

<div class="post-navigation-wrap">
  <a href="/posts/{{previous}}" class="post-navigation post-navigation-prev">Previous</a>
  <a href="/" class="post-navigation">Home</a>
  <a href="/posts/{{next}}" class="post-navigation post-navigation-next">Next</a>
</div>

<div id="disqus_thread" class="post-comments"></div>
<script type="text/javascript">
  var disqus_shortname = 'aaronpetcoff';
  var disqus_url = 'http://aaronpetcoff.me/';
  (function() {var dsq = document.createElement('script');dsq.type = 'text/javascript';dsq.async = true;dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>