---
layout: default
---
<div class="blogpage page-wrap">

  {% include header.html %}
  {% include nav.html %}

  <section id="blog" class="container">
    <article class="post post-id-{{ page.date | date_to_string }}">
      <h2>{{ page.title }}</h2>
      <p class="meta">{{ page.date | date_to_string }}</p>
      <div class="post-content">
        {{ content }}
      </div>
    </article>
  </section>

  <section class="row blog-footer footer-wrap">{% include footer.html %}</section>

</div><!--.blogpage-->