@import url('https://fonts.googleapis.com/css2?family=pt+serif:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'pt serif', serif;
  font-size: 1.2rem;
  background-color: #fefefe;
  color: #222;
}

main, footer {
  max-width: 960px;
  margin: auto;
  padding-bottom: 16px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul.blog {
  list-style: none;
  padding: 0;
}

li > p:after {
  content: '…'
}

a,
:link {
  color: #1c73c4;
}

:visited {
  color: #57127b;
}
