<main>
  <div class="home-image"><img src="http://gravatar.com/avatar/e3ae39ab25e0e7d0308cc1a7ebb879ab?size=250" alt="Aaron Petcoff" width="250" height="250"></div>

  <h2 class="home-lede">
  I'm a web developer living in Brooklyn who is excited about working with new technologies, working with cool people, and trying to make the web (and the world) a better place.
  </h2>

  <p>You&#39;ll currently find me at <a href="http://newyorker.com"><i>The New Yorker</i></a> where I help build editorial production tools and interactive user experiences.</p>

  <p>In my free time I enjoy reading history, sci-fi, and poetry, running in Prospect Park, and listening to records. I believe social, economic, and global justice are important.</p>

  <p>Sometimes I write about what I do {{#link-to "blog" title="Blog"}}on my blog{{/link-to}}.</p>
</main>
